<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- Card header -->
      <div class="card-header pb-0">
        <div class="d-lg-flex">
          <div>
            <h5 class="mb-0">Listado de Colores</h5>
            <p class="text-sm mb-0">
              Muestra todos los colores, que se pueden usar para la creación de
              materiales con dicho atributo.
            </p>
          </div>
          <div class="ms-auto my-auto mt-lg-0 mt-4">
            <div class="ms-auto my-auto">
              <a
                href="/inventario/color/add"
                class="btn bg-gradient-primary btn-sm mb-0"
              >+&nbsp; Agregar Color</a>
              <button
                type="button"
                class="btn btn-outline-primary btn-sm mb-0"
                data-bs-toggle="modal"
                data-bs-target="#import"
              >
                Importar
              </button>
              <div
                class="modal fade"
                id="import"
                tabindex="-1"
                aria-hidden="true"
              >
                <div class="modal-dialog mt-lg-10">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
                      <i class="fas fa-upload ms-3"></i>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <p>Puede buscar en su computadora un archivo.</p>
                      <input
                        type="text"
                        placeholder="Browse file..."
                        class="form-control mb-3"
                      />
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="importCheck"
                          checked=""
                        />
                        <label
                          class="custom-control-label"
                          for="importCheck"
                        >Acepto los términos y condiciones</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn bg-gradient-secondary btn-sm"
                        data-bs-dismiss="modal"
                      >Cerrar</button>
                      <button
                        type="button"
                        class="btn bg-gradient-primary btn-sm"
                      >Cargar</button>
                    </div>
                  </div>
              </div>
            </div>
            <button
            class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1"
            data-type="csv"
            type="button"
            name="button"
            >Exportar</button>
            </div>
          </div>
        </div>
      </div>

      {{! Table Color }}
      <div class="card-body px-0 pb-0">
        <div class="table-responsive">

            <table class="table table-flush" id="color-list">
              <thead class="thead-light">
                <tr>
                  <th>Color</th>
                  <th>Código</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {{#each color}}
                  <tr>
                    <td class="text-sm">
                      <div class="d-flex">
                        <div class="form-check my-auto">
                          <input class="form-check-input" type="checkbox" title="elementCheck" value="{{_id}}">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex">
                        <div class="fixed-plugin">
                          <span class="badge filter" style="background-color: {{codeColor}}">
                          </span>
                        </div>
                        <h6 class="ms-3 my-auto">{{name}}</h6>
                      </div>
                    </td>
                    <td class="text-sm">{{codeColor}}</td>
                    <td class="text-sm">
                      <a
                        href="/inventario/color/{{_id}}/edit"
                        class="mx-3"
                        data-bs-toggle="tooltip"
                        data-bs-original-title="Edit Color"
                      >
                        <i class="fas fa-user-edit text-secondary"></i>
                      </a>
                      <a
                        {{!-- href="/inventario/color/{{_id}}/delete" --}}
                        data-bs-toggle="tooltip"
                        data-bs-original-title="Delete Color"
                        class="actionDelete cursor-pointer"
                        onclick="return argon.showSwal('warning-message-and-cancel')"
                        id="trashElement{{_id}}"
                      >
                        <i class="fas fa-trash text-secondary"></i>
                      </a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
              <tfoot>
                <tr>
                  <th>Color</th>
                  <th>Código</th>
                  <th>Acción</th>
                </tr>
              </tfoot>
            </table>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/plugins/sweetalert.min.js"></script>
<script src="/assets/js/plugins/datatables.js"></script>

  <script>
    if (document.getElementById('color-list')) {
      const dataTableSearch = new simpleDatatables.DataTable("#color-list", {
        searchable: true,
        fixedHeight: false,
        perPage: 7
      });

      document.querySelectorAll(".export").forEach(function(el) {
        el.addEventListener("click", function(e) {
          var type = el.dataset.type;

          var data = {
            type: type,
            filename: "color-list" + type,
          };

          if (type === "csv") {
            data.columnDelimiter = "|";
          }

          dataTableSearch.export(data);
        });
      });
    };
  </script>



<script>

  //PARA AGRUPAR A LOS ELEMENTOS SELECCIONADOS EN UN ARRAY
  const itemsCheck = []

  const elementCheck = document.querySelectorAll("[title='elementCheck']")
  elementCheck.forEach((item) => {
    item.addEventListener("change", (e) => {
      if (e.target.checked) {
        itemsCheck.push(e.target.value)
      } else {
        itemsCheck.splice(itemsCheck.indexOf(e.target.value), 1)
      }
    })
  })

  //PARA AGREGAR EL ICONO DE ELIMINAR AL DATA TABLE
  if (document.getElementsByClassName('dataTable-top')) {
    const divTrash = document.createElement("div")
    divTrash.classList.add("dataTable-icon")
    divTrash.innerHTML = `<div class="icon-container-dataTable">
      <a
      data-bs-toggle="tooltip"
      data-bs-original-title="Delete proveedor"
      class="actionDelete cursor-pointer"
      onclick="return deleteItemsCheck()"
      id="trashItemsIcon">
      <i class="fas fa-trash text-danger"></i>
      </a>
    </div>`
    const divDropdown = document.getElementsByClassName('dataTable-dropdown')
    divDropdown[0].insertBefore(divTrash, divDropdown.lastElementChild)

  }

  //PARA AGREGAR EL CHECK DE SELECCIONAR TODOS LOS ELEMENTOS
  if (document.getElementById("color-list")) {
    //agregar th con check para seleccionar todos los elementos
    const thCheck = document.createElement("th")
    thCheck.style.opacity = "1"
    thCheck.style.fontSize = "0.8rem"

    thCheck.innerHTML = `<div class="form-check my-auto">
    <input class="form-check-input" type="checkbox" id="checkAll">
    </div>`
    const tr = document.querySelector("#color-list thead tr")
    tr.insertBefore(thCheck, tr.firstElementChild)
  }

  //PARA SELECCIONAR TODOS LOS CHECKBOX CUNADO SE HACE CLICK EN EL CHECKBOX PRINCIPAL
  const checkAll = document.getElementById("checkAll")
  checkAll.addEventListener("change", (e) => {
    if (e.target.checked) {
      elementCheck.forEach((item) => {
        item.checked = true
        itemsCheck.push(item.value)
      })
    } else {
      elementCheck.forEach((item) => {
        item.checked = false
        itemsCheck.splice(itemsCheck.indexOf(item.value), 1)
      })
    }
  })
  
  //PARA ELIMINAR LOS ELEMENTOS SELECCIONADOS 
  async function  deleteItemsCheck() {
    if (itemsCheck.length > 0) {
      await argon.showSwal('warning-message-and-cancel')
      const btnDeleteYes = document.querySelector(".swal2-confirm")
      btnDeleteYes.addEventListener("click", () => {
        //lapse time execute function
        setTimeout(() => {
          window.location.href = `/inventario/color/${itemsCheck}/delete`
        }, 1000)
      })
    } else {
      //alert seleccionar mas de un elemento
      window.alert("Selecciona al menos un elemento")
    }
  }


  {{#each color}}
    const btnDelete{{_id}}= document.getElementById('trashElement{{_id}}');

    btnDelete{{_id}}.addEventListener('click', () => {
      btnDeleteYes=document.querySelector(".swal2-confirm")
      btnDeleteYes.addEventListener("click",()=>{
        //lapse time execute function
        setTimeout(()=>{
          window.location.href="/inventario/color/{{_id}}/delete"
        },1000)
    })
    })
  {{/each}}

</script>
